<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- File appender -->
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- The main log file -->
    <file>logs/app.log</file>
    <!-- Continue appending to the file after the application restarts -->
    <append>true</append>
    <!-- Define the rolling policy -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- File name pattern for the rolled over files -->
      <fileNamePattern>logs/rolling-app.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- Keep log files for 30 days -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <!-- Define the log output format -->
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Root logger -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <!-- Logger for your application -->
  <logger name="com.lcaohoanq" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ROLLING"/>
  </logger>

</configuration>